.Odin {
    font-weight: bold;
    background-color: black;
    color: rgba(255, 255, 255, 0.966);
    font-size: 48px;
    text-align: center;
}

div {
    border: 5px solid #000;
    border-radius: 10px;
    width: auto;
    height: auto; 
    text-align: center; 
}

.first.second {
    background-color: green;
}

.second {
    background-color: palegreen;
}



